@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@page "/"
<h2>Witaj w Quizie Grupy 3</h2>
<h4>Spróbuj odpowiedzieć na wszystkie pytania</h4>
<div style="padding-top:50px">
    <button type="button" class="btn btn-primary" @onclick="() => StartQuiz()">Rozpocznij Quiz</button>
</div>


@code{

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("localStorage.setItem", Cookies.CATEGORY, "100");
    }


    private void StartQuiz()
    {
        NavigationManager.NavigateTo("/question");
    }   

}