@page "/question"

<style>
    .answer {
        width: 400px;
        min-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 10px;
        background-color: lightskyblue;
        border-radius: 5px;
        color: #000;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
    }

        .answer:hover {
            background-color: blue;
            color: #fff;
        }
</style>


<h4>Pytanie za 100 pkt</h4>
<h3>Jak miał na imię słynny fizyk Einstein?</h3>
<div class="no-wrap width:880px; display:flex; align-items:center; justify-content:center; flex-wrap:">
    <div class="answer">Odpowiedź 1</div>
    <div class="answer">Odpowiedź 2</div>
    <div class="answer">Odpowiedź 3</div>
    <div class="answer">Odpowiedź 4</div>
</div>

@code {

}
